body {
	background-color: #E0E0E0;
	color: black;
	font-family: Arial;
}

* {
    margin: 0;            
} 

.heading {
    background-color: #CD853F;
    color: white;
    line-height: 30px;
    padding-top: 15px;
    text-align: center;
}

.heading h1 {
	font-family: Cursive;
}

.heading p {
	font-family: Arial;
	font-size: 18;
}

/*
我用不到這個
ul { 
	position: relative;
	top: 0em;
	left: 0em;
	width: 0em;
}
*/

@media all and (max-width: 1000px) {
    body {
		background-color: #EEE04C;
    }
}

@media print {
    body {
		background-color: white;
    }
}

.navbar {
    display: flex;
    justify-content: center;         
    background-color: #A0522D;        
}        

.navbar li {
    position: relative;
    list-style: none;
}

.navbar a {
    color: white;
    padding: 10px 130px;
    text-decoration: none;
    font-size: 20px;
    display: block;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: #FFD700;
}

.dropdown {
    display: none;
    position: absolute;
    min-width: 100%;
    background-color: #A0522D;
    border-radius: 10px
}

li:hover .dropdown {
    display: block;
}

.dropdown a {
    padding: 15px 30px;
}

p {
	padding-top: 22px;
    font-size: x-large;
}
