body {
	background-color: #E0E0E0;
}

* {
    margin: 0;            
}

.heading {
    background-color: #CD853F;
    color: white;
    line-height: 70px;
    text-align: center;
}

.heading h1 {
	font-family: Cursive;
}

.heading h4 {
	font-family: Arial;
}

.navbar {
    display: flex;
    justify-content: center;         
    background-color: #A0522D;        
}        

.navbar li {
    position: relative;
    list-style: none;
}

.navbar a {
    color: white;
    padding: 10px 100px;
    text-decoration: none;
    font-size: 16px;
    display: block;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: #FFD700;
}

.dropdown {
    display: none;
    background-color: #A0522D;
    
    border-radius: 10px
}

li:hover .dropdown {
    display: block;
}

.dropdown a {
    padding: 12px 50px;
}

p {
	padding-top: 22px;
    font-size: x-large;
    font-family: Arial;
}
